<div>
  <div layout="row" layout-align="center center">
    <div layout="column" layout-align="center center">
      <h2> Lesson: {{ lesson }} </h2><br>
      <h3> Rhythmic Pattern: {{ rhythmicPattern }} </h3>
    </div>
  </div>
  <div layout="row" layout-align="center center">
    <div layout="column">
      <md-checkbox ng-model="quarter" ng-disabled="quarterDisabled">Quarter</md-checkbox>
      <md-checkbox ng-model="half" ng-disabled="halfDisabled">Half</md-checkbox>
      <md-checkbox ng-model="whole" ng-disabled="wholeDisabled">Whole</md-checkbox>
      <md-checkbox ng-model="rest">Rest</md-checkbox>

    </div>
    <div layout="column">
      <button class="button" id="animation-target1" ng-click="buttonSelected(1)"></button>
      <button class="button" id="animation-target5" ng-click="buttonSelected(5)"></button>
      <button class="button" id="animation-target9" ng-click="buttonSelected(9)"></button>
      <button class="button" id="animation-target13" ng-click="buttonSelected(13)"></button>
    </div>
    <div layout="column">
      <button class="button" id="animation-target2" ng-click="buttonSelected(2)"></button>
      <button class="button" id="animation-target6" ng-click="buttonSelected(6)"></button>
      <button class="button" id="animation-target10" ng-click="buttonSelected(10)"></button>
      <button class="button" id="animation-target14" ng-click="buttonSelected(14)"></button>
    </div>
    <div layout="column">
      <button class="button" id="animation-target3" ng-click="buttonSelected(3)"></button>
      <button class="button" id="animation-target7" ng-click="buttonSelected(7)"></button>
      <button class="button" id="animation-target11" ng-click="buttonSelected(11)"></button>
      <button class="button" id="animation-target15" ng-click="buttonSelected(15)"></button>
    </div>
    <div layout="column">
      <button class="button" id="animation-target4" ng-click="buttonSelected(4)"></button>
      <button class="button" id="animation-target8" ng-click="buttonSelected(8)"></button>
      <button class="button" id="animation-target12" ng-click="buttonSelected(12)"></button>
      <button class="button" id="animation-target16" ng-click="buttonSelected(16)"></button>
    </div>
    <div layout="row">
      <md-button ng-click="editLesson()" ng-hide="editing"> Edit </md-button>
      <md-button ng-click="saveLesson()" ng-show="editing"> SAVE </md-button>
      <div layout="column">
        <select ng-model="currSequencer" ng-options="x for x in sequencers" ></select>
        <md-button ng-click="colorGrid()"> Select </md-button>
      </div>
    </div>
</div>
