<!-- <p>This is the LessonsList view.</p> -->


<!-- <script src="bower_components/angular/angular.min.js"></script> -->
<!-- <script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-aria/angular-aria.min.js"></script>
<script src="bower_components/angular-material/angular-material.min.js"></script> -->

<md-toolbar class="jumbotron">
  <h1>
    <!-- <md-icon md-svg-src="images/quarter-Note-rest.svg" class="avatar1"></md-icon>
    <md-icon md-svg-src="images/quarter-Note.svg" class="avatar1"></md-icon>
    <md-icon md-svg-src="images/half-Note.svg" class="avatar1"></md-icon>
    <md-icon md-svg-src="images/whole-Note.svg" class="avatar1"></md-icon> -->
  <div style="padding-bottom:20px;">Select Lesson</div>
    <md-icon md-svg-src="images/conductor.svg" class="avatar"></md-icon>
    <md-icon md-svg-src="images/list-of-files.svg" class="avatar"></md-icon>
    <md-icon md-svg-src="images/metronome.svg" class="avatar"></md-icon>
    <md-icon md-svg-src="images/dj-table.svg" class="avatar"></md-icon>
    <md-icon md-svg-src="images/quarter-Note-rest.svg" class="avatar"></md-icon>
    <md-icon md-svg-src="images/quarter-Note.svg" class="avatar"></md-icon>
    <md-icon md-svg-src="images/half-Note.svg" class="avatar"></md-icon>
    <md-icon md-svg-src="images/whole-Note.svg" class="avatar"></md-icon></h1>
</md-toolbar>

<div ng-controller="LessonslistCtrl" layout="row" flex>
  <md-sidenav md-is-locked-open="true" class="md-whiteframe-4dp">

    <div> <table>
      <tbody>
        <tr>
          <h4 style="text-align: center; text-decoration: underline;">Choose or Create Lesson:</h4>
        </tr>
        <tr ng-repeat="lesson in lessons">
          <td style="text-align: left;"><md-button ng-click="lessonSelected(lesson.num)">{{ lesson.name }}</md-button></td>
        </tr>
      </tbody>
    </table> </div>

    <md-button ng-click="addNewLesson($event)">
      <h4>Create a New Lesson</h4>
    </md-button>
  </md-sidenav>


  <md-content id="content" flex>
    <h1>Lesson Name: {{lessons[currLessons - 1].name}}</h1>
    <table>
      <tbody>
        <tr ng-repeat="rp in RPs">
          <td><h3>{{rp.name}}</h3></td>
          <td>
            <md-button ng-click="goToPlay(rp.num)">
              <md-icon md-svg-src="images/play-blue.svg" class="avatar1"></md-icon>
              Play
            </md-button>
          </td>
          <td>
            <md-button ng-click="goToEdit(rp.num)">
              <md-icon md-svg-src="images/edit.svg" class="avatar1"></md-icon>
              Edit
            </md-button>
          </td>
          <td>
            <md-button ng-click="goToGrade(rp.num)">
              <md-icon md-svg-src="images/scores.svg" class="avatar1"></md-icon>
              Scores
            </md-button>
          </td>
        </tr>
      </tbody>
    </table>

    <md-button ng-click="addNewRP()">
      New Rhythmic Pattern
    </md-button>


  </md-content>
</div>
