<!-- <p>This is the LessonsList view.</p> -->


<!-- <script src="bower_components/angular/angular.min.js"></script> -->
<!-- <script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-aria/angular-aria.min.js"></script>
<script src="bower_components/angular-material/angular-material.min.js"></script> -->

<md-toolbar class="jumbotron">
  <h1 style="text-align: center">Play or Edit Lessons</h1>
</md-toolbar>

<div ng-controller="LessonslistCtrl" layout="row" flex>
  <md-sidenav md-is-locked-open="true" class="md-whiteframe-4dp">

        <!-- <md-button ng-click="showPageContent(1)">
          <md-icon md-svg-src="images/3-4_Time.svg" class="avatar"></md-icon>
          Lesson 1
        </md-button>

        <md-button ng-click="showPageContent(2)">
          <md-icon md-svg-src="images/MusicIcon1.svg" class="avatar"></md-icon>
          Lesson 2
        </md-button>

        <md-button ng-click="addNewLesson($event)">
          New Lesson
        </md-button> -->

    <table>
      <tbody>
        <tr ng-repeat="lesson in lessons">
          <td><md-button ng-click="lessonSelected(lesson.num)">{{ lesson.name }}</md-button></td>
        </tr>
      </tbody>
    </table>
    <!-- <md-button ng-click="addNewLesson($event)">
      New Lesson
    </md-button> -->
    <!-- <form class="form-horizontal" role="form" ng-submit="addRow()">
    	<div class="form-group">
    		<label class="col-md-2 control-label">Name</label>
    		<div class="col-md-4">
    			<input type="text" class="form-control" name="name"
    				ng-model="name" />
    		</div>
    	  <div class="form-group">
    		  <div style="padding-left:110px">
    			  <input type="submit" value="Submit" class="btn btn-primary"/>
    		  </div>
    	  </div>
      </div>
    </form> -->
    <md-button ng-click="addNewLesson($event)">
      New Lesson
    </md-button>
</md-sidenav>


<md-content id="content" flex>
    <!-- <h1>Lesson Name: {{lesson}}</h1> -->
    <h1>Lesson Name: {{lessons[currLessons - 1].name}}</h1>

    <!-- <md-list>
      <md-list-item>
        <h3>Rhythmic Pattern 1</h3>
      </md-list-item>

      <md-list-item>
        <md-button ng-click="goToPlay()">
          <md-icon md-svg-src="images/media-play.svg" class="avatar"></md-icon>
          Play
        </md-button>
      </md-list-item>
      <md-list-item>
        <md-button ng-click="goToEdit()">
          <md-icon md-svg-src="images/ellipses.svg" class="avatar" ></md-icon>
          Edit
        </md-button>
      </md-list-item>
      <md-list-item>
        <h3>Rhythmic Pattern 2</h3>
      </md-list-item>

      <md-list-item>
        <md-button ng-click="goToPlay()">
          <md-icon md-svg-src="images/media-play.svg" class="avatar" ng-click="goToPlay()"></md-icon>
          Play
        </md-button>
      </md-list-item>
      <md-list-item>
        <md-button ng-click="goToEdit()">
          <md-icon md-svg-src="images/ellipses.svg" class="avatar" ng-click="goToEdit()"></md-icon>
          Edit
        </md-button>
      </md-list-item>
      <md-list-item>
        <md-button ng-click="addNewRP($event, $scope.lessonSelect)">
          New Rhythmic Pattern
        </md-button>
      </md-list-item>
    </md-list> -->

<table>

</table>

<md-button ng-click="addNewRP()">
  New Rhythmic Pattern
</md-button>


  </md-content>
</div>
