  <div class="whiteBG">
    <div layout="row" layout-align="center center">
      <div layout="column" layout-align="center center">
        <h2> Lesson: {{ lesson }} </h2><br>
        <h3> Rhythmic Pattern: {{ rhythmicPattern }} </h3>
      </div>
    </div>
    <div layout="row" layout-align="center center">
      <div layout="column">
        <button class="button" id="animation-target1"></button>
        <button class="button" id="animation-target5"></button>
        <button class="button" id="animation-target9"></button>
        <button class="button" id="animation-target13"></button>
      </div>
      <div layout="column">
        <button class="button" id="animation-target2"></button>
        <button class="button" id="animation-target6"></button>
        <button class="button" id="animation-target10"></button>
        <button class="button" id="animation-target14"></button>
      </div>
      <div layout="column">
        <button class="button" id="animation-target3"></button>
        <button class="button" id="animation-target7"></button>
        <button class="button" id="animation-target11"></button>
        <button class="button" id="animation-target15"></button>
      </div>
      <div layout="column">
        <button class="button" id="animation-target4"></button>
        <button class="button" id="animation-target8"></button>
        <button class="button" id="animation-target12"></button>
        <button class="button" id="animation-target16"></button>
      </div>
      <div layout="column">
        <md-button ng-disabled="loadedFlag" ng-click="playLesson()"> play </md-button>
        <md-button ng-click="stopLesson()"> stop </md-button>
      </div>
  </div>
  <div layout="row" layout-align="center center" class="jumbotron" ng-hide="lastFlag">
    Last one!!
  </div>
