<p>This is the PlaySublesson view.</p>

<div class="container" id="nexus_sequencer">
  <div class="row new-sequencer-row">
    <div class="col-md-3 col-md-offset-2">
    <div id="sequencer"></div>

  </div>
</div>
<div class="row" style="text-align: center; border: 3px solid green; margin-bottom: 20px;">
  {{bpm}}
</div>
<div class="row new-sequencer-row" >
  <div class="col-md-2 col-md-offset-2 new-sequencer-row">
    <div id="start-button"> start </div>
  </div>
  <div class="col-md-2 col-md-offset-2 new-sequencer-row">
    <div id="stop-button"> stop </div>
  </div>
</div>
</div>
