<!-- <p>This is the RhythmEvaluation view.</p> -->
<md-toolbar class="jumbotron">
  <h1 style="text-align: center">Rhythmic Pattern Evaluation</h1>
</md-toolbar>

<div class="container" ng-app="sortApp" ng-controller="RhythmevaluationCtrl">

  <div layout="row" layout-align="center center">
    <div layout="column" layout-align="center center">
      <h2> Lesson: {{ lesson }} </h2>
      <h3> Rhythmic Pattern: {{ rhythmicPattern }} </h3>
    </div>
  </div>

<div class="feedbackTable">

  <!-- Sort Type: {{ sortType }}

  Sort Reverse: {{ sortReverse }}

  Search Query: {{ searchName }} -->

    <table class="table table-hover" flex>

      <thead class="thead1">
        <tr class="tr1">
          <td class="td1"> <a href="#!/RhythmEvaluation" ng-click="sortType = 'name'">
            <span ng-show="sortType == 'name'" class="fa fa-caret-down"></span>
            Name
          </a></td>

          <td class="td1"> <a href="#!/RhythmEvaluation" ng-click="sortType = 'score'">
            <span ng-show="sortType == 'score'" class="fa fa-caret-down"></span>
            Score
          </a></td>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="performance in students | orderBy:sortType:sortReverse" >
          <td class="td1">{{ performance.name }}</td>
          <td class="td1">{{ performance.score }}</td>
        </tr>
      </tbody>

    </table>

</div>
